

 @import "../global.scss";

.header {
  display: flex;
  flex-direction: row; 
 
  .left-section {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $header-left-footer;
    padding: 20px;

    .left-section-top {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      p {
        font-family: $logo-font;
        font-weight: bold;
        font-size: 3rem;
       

        &:hover {
          color: #5a2362;
          text-decoration-style: wavy;
        }
      }
    }

 

   .lamp  {
        width: 100px;
        margin-left: 400px;
        margin-top: -80px;
      }
    
     .shelf  {       
        margin-left: -150px;
         margin-top: 10px;
          
          height: auto;
          max-width: 200px;

      }

    .computer-screen img {
  
    width: 100%;
    height: auto;
    max-width: 400px;
   margin-left: 143px;
   margin-top: -200px;
}
  }


.right-section {
  width: 60%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0c0c0c;
  background-color: $header-right;
  padding: 20px;

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
     margin-top: -140px;
     margin-left: 100px;
    a {
      font-family: 'Montserrat', sans-serif;
      color: #333;
      font-size: 1.1rem;
      transition: color 0.3s;

      &:hover {
        color: #5a2362;
        text-decoration: underline;
        text-decoration-style: wavy;
      }
    }
  }

  .header-description {
    .header-intro {
      font-size: 1.5rem;
      color: #110e0e;
      margin-top: 100px;
    }

    .name {
      font-family: 'Pacifico', cursive;
      color: #43b3ae;
      font-size: 2rem;
    }

    .header-maintext {
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.2;
      color: #333;
      text-align: center;

      .highlight {
        color: #43b3ae;
      }
    }
  
 
      .creating-content {
        position: absolute;
         top: 40px;
         left: 90%;
         transform: translateX(-50%);
         border-radius: 10px;
         text-align: center;
         z-index: 10;

        .creating-image {
          width: 130px;
          max-width: 300px;
          height:150px;
          border-radius: 8px;
          margin-top: 10px;
          
        }
      }

.engaging-content {
       position: absolute;
         top: 40px;
         left: 800px;
         transform: translateX(-50%);
         border-radius: 10px;
         text-align: center;
         z-index: 10;

        .engaging-image {
          width: 100%;
          max-width: 300px;
          height: auto;
          border-radius: 8px;
          margin-top: 10px;
          filter: grayscale(50%) contrast(1.2);
        }
      }
.interactive-content {
       position: absolute;
         top: 280px;
         left: 1000px;
         transform: translateX(-50%);
         border-radius: 10px;
         text-align: center;
         z-index: 10;
         
        .interactive-image  {
          width: 100%;
          max-width: 300px;
          height: auto;
          border-radius: 8px;
          margin-top: 10px;
          filter: grayscale(50%) contrast(1.2);
        }
      }
  }
 }


  
  @media (max-width: 1024px) {
    flex-direction: column; 

    .left-section, .right-section {
      width: 100%; 
      background-color: pink; 
    }

    .left-section .left-section-top p {
      font-size: 2rem;
    }

    .name {
      display: block;
    }

    .lamp,
    .shelf,
    .computer-screen {
      display: none !important; 
    }

    .header-maintext {
      font-size: 1.5rem;
    }

    .nav-links a {
      font-size: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    .left-section, .right-section {
      align-items: center;
      text-align: center;
    }

    .left-section .left-section-top p,
    .header-maintext {
      font-size: 1.5rem;
    }

    .nav-links {
      flex-direction: column;
      gap: 1rem;
    }
  }

  @media (max-width: 480px) {
    .left-section .left-section-top p {
      font-size: 2.25rem;
    }

    .header-maintext {
      font-size: 0.5rem;
    }

    .nav-links a {
      font-size: 0.9rem;
    }
  }
}










