@import "../global.scss";

.header {
  display: flex;
  flex-direction: row;

  .left-section {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $header-right;
    padding: 20px;

    .left-section-top {
      display: flex;
      justify-content: center;
    
      align-items: flex-start;

      p {
        font-family:"Cookie", serif;
        
        font-size: 4rem;
        margin-left: 50px;

        &:hover {
          color: #5a2362;
          text-decoration-style: wavy;
        }
      }
    }

  
   

    .computer-screen img {
      width: 100%;
      height: auto;
      max-width: 500px;
      margin-left: 13px;
      margin-top: 60px;
      margin-bottom: 100px;
    }
  }

  .right-section {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0c0c0c;
    background-color: $header-left-footer;
    padding: 20px;

    .nav-links {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      font-weight: bold;
      justify-content: center;
      margin-top: -100px;
      margin-left: 80px;

      a {
        font-family: 'Montserrat', sans-serif;
        color: #333;
        font-size: 1.1rem;
        transition: color 0.3s;

        &:hover {
          color: #5a2362;
          text-decoration: underline;
          text-decoration-style: wavy;
        }
      }
    }

    .header-description {
      .header-intro {
        font-size: 1.5rem;
        color: #110e0e;
        margin-top: 80px;
      }

      .name {
        font-family: 'Pacifico', cursive;
        color: #0d1313;
        font-size: 2rem;
      }

      .header-maintext {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
        color: #333;
        text-align: center;
      }
.highlight
{
 color: #272826;
 &:hover
 {
 color: #d598de;
 cursor: pointer;
 }
}
      .skill-content {
        position: absolute;
        top: -10px;
        left: 1000px;
        transform: translateX(-50%);
        border-radius: 10px;
        text-align: center;
        z-index: 10;

        .skill-image {
          width: 270px;
          max-width: 250px;
          height: 150px;
          border-radius: 8px;
          margin-top: 100px;
        }
      }

      .engage-content {
        position: absolute;
        top: 50px;
       
        left: 1200px;
        transform: translateX(-50%);
        border-radius: 10px;
        text-align: center;
        z-index: 10;

        .engage-image {
          width: 100%;
          max-width: 200px;
          height: auto;
          border-radius: 8px;
          margin-top: 70px;
          filter: grayscale(50%) contrast(1.2);
        }
      }

      .creativity-content {
        position: absolute;
        top: 230px;
        left: 1000px;
        transform: translateX(-50%);
        border-radius: 10px;
        text-align: center;
        z-index: 10;

       

        .creativity-image {
          width: 100%;
          max-width: 300px;
          height: auto;
          border-radius: 8px;
          margin-top: -120px;
          filter: grayscale(50%) contrast(1.2);
        }
      }
    }
    .download-resume-button {
      display: inline-block;
      margin-top: 70px;
      padding: 10px 30px;
      background-color: $primary-color;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

 
  @media (max-width: 1024px) {
    flex-direction: column;

    .left-section, .right-section {
      width: 100%;
      background-color: $header-left-footer;
    }

    .left-section .left-section-top {
      display: none;  
    }

    .name {
      display: block;
    }

    .lamp,
    .shelf,
    .computer-screen {
      display: none !important;
    }

    .header-maintext {
      font-size: 1rem;
    }

    .nav-links a {
      font-size: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    .left-section, .right-section {
      align-items: center;
      text-align: center;
    }

    .left-section .left-section-top {
      display: none;  
    }

    .left-section .left-section-top p,
    .header-maintext {
      font-size: 3rem;
    }

    .nav-links {
      gap: 0.2rem;
      font-size: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    .left-section .left-section-top {
      display: none;  
    }

    .left-section .left-section-top p {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .header-maintext {
      font-size: 0.5rem;
    }

    .nav-links a {
      font-size: 0.9rem;
    }
  }
}
