@import "../global.scss";

.header-container {
    display: flex;
    margin: 0; 
    width: 100%;
}

.header-left {
    display: flex; 
    background-color: $header-left-footer;
    padding: 2rem;
    width: 40%; 
    
}

.logo {
    font-family: $logo-font;
    font-size: 69px;
    line-height: 62px;
    justify-content: end;
    margin-right: 19rem; 
}

.header-right {
    display: flex;
    background-color: $header-right;
    flex-grow: 1; 
    width: 60%; /* Set to 60% for right side */
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end; 
}

.nav-links a {
    margin: 0 1rem; 
    text-decoration: none; 
    color: inherit; 
}

.nav-links a:hover {
    text-decoration: underline; 
}

