@import '../global.scss';

.Main-container {
    display: flex;
    width: 100%; 
   
    height: 500px;
}

.left-image {
    display: flex; 
    background-color: $header-left-footer; 
    padding: 2rem;
    width: 40%; 
    justify-content: center;
    
}

.Main-right {
    display: flex;
    flex-direction: column;
    background-color: $header-right; 
    width: 60%; 
}

.greet {
    font-size: 2rem;
    font-family: $main-font;
    text-align: start;
    padding: 1rem;
    
    p {
    font-size: 20px;
    margin-left: 100px
    
    };
}

.summary {
    font-family: $normal-font;
    p{
    font-size: 20px;
    margin-left: 20px
    
    };
}