
@import "../global.scss";

.Certificate-container {
    background-color: $skills; 
    height: 400px; 
   
    justify-content: center; 
    align-items: center; 
   padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
   
}

.Certificate-title {
   font-size: 30px;
    
    font-family: $main-font;
    margin-right: 1150px;
}

.Certificate-image {
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 50px;
     flex-direction: row;
      gap:50px;
    img {
        max-width: 100%; 
        height: auto; 
    }
}


@media screen and (max-width:1024px) {
.Certificate-container{

    height: 500px;
    padding: 20px;
    }
   .Certificate-title{
    font-size: 1rem;
    margin-right: 0px;
   }
   
   .Certificate-image img{
    max-width: 100%;
    height: auto;
    }
    
}
@media screen and (max-width:768px) {
.Certificate-container{

    height: 400px;
    
    }
   .Certificate-title{
    font-size: 0.875rem;
    margin-right: 0px;
   }
   
   .Certificate-image img{
    max-width: 50%;
    height: 50%;
   
    }
    
}
@media screen and (max-width:480px) {
.Certificate-container{

    height: 200px;
    padding: 10px;
    }
   .Certificate-title{
    font-size: 0.75rem;
    margin-right: 0px;
   }
   
   .Certificate-image img{
    width: 90px;
    height: 90px;
    }
    
}