

@import '../global.scss';

.cert-main {
  text-align: center;
  background-color: $header-left-footer;
  padding: 2rem;
}



.cert-card {
  width: 100%;
  max-width: 300px;
  background-color: #fcf7f7;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0, 1), box-shadow 0.4s;
}

.cert-card_image {
  width: 100%;
  height: 185px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cert-card_content {
  padding: 1rem;
}

.cert-card_title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
 
}

.cert-card_text {
  font-size: 14px;
  color: #919191;
}

.cert-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cert-title
{
  margin-bottom: 1.5rem;
  margin-right: 70rem;
  font-size: 2.5rem;
  font-family: $sub-font;}
.scroll-button {
  background: #333;
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cert-cards-container {
  display: flex;
  justify-content: center;
  gap: 40px; /* Increased gap to add more space between cards */
  margin: 0 auto;
  max-width: 1200px;
}