

$certificate: rgba(216, 226, 220, 1);
$header-right: white;
$header-left-footer:rgb(98, 232, 212);
$projects: #FEF8B4;
$skills: #bb93f6;
$primary-color: #FF6B6B;


$main-font: "Autour One";
$sub-font:"Pacifico" ,cursive;
$logo-font:"dancing script",cursive;
$normal-font:sans-serif;



