

$certificate: rgba(216, 226, 220, 1);
$header-right: rgba(255, 229, 217, 1);
$header-left-footer: rgba(255, 202, 212, 1);
$projects: rgba(244, 172, 183, 1);
$skills: rgba(157, 129, 137, 1);



$main-font: "Autour One";
$sub-font:"Pacifico" ,cursive;
$logo-font:"dancing script",cursive;
$normal-font:sans-serif;


$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);
