@import '../global.scss';

.Skill-container
{
 background-color: $skills;
 height: 300px;
}
.title
{
  font-family: $main-font;
   margin-right: 1000px;
   padding: 30px;
   font-size: 30px;
}
.image
{
   width: 200px;
   height: 200px;
   margin-left: 500px;
}