@import "../global.scss";

.Skill-container {
    background-color: $skills; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.title {
    margin-bottom: 20px;
}

.image {
    img {
        max-width: 100%; 
        height: auto; 
    }
}
